* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
    width: 100vw;
    border: transparent;
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 45px;
}
body {
    background-image: url(bg.jpg);
    background-size: stretch;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
content{
   display: grid;
   grid-template-columns: auto auto;
   grid-template-columns: auto auto;
}
.section{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 30px auto auto;
    height: 40vh;
    width: 40vw;
    background-color:rgba(51,136,165,255);
    justify-self: center;
    margin-top: 20px;
    opacity: 0.5;
    border-radius: 8px;
}
.section:hover{
    opacity: 0.8;
    /* border: solid darkblue 2px; */
    box-shadow: 0px 0px 4px 2px darkblue;
}
.btn{
    margin: 3px;
    background-color: rgb(15, 15, 161);
    border-radius: 5px;
}
.heading{
    text-align: right;
    font-size: 20px;
    font-family: 'Lobster', cursive;
    color: white;
}
.fontsize{
    font-family:'Lobster', cursive ;
    text-align: center;
    font-size: 18px;
    color: white;
}
a{
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    text-decoration: none;
    cursor: pointer;
}
